
.logo-mario {
  height: 200px; 
}

button{
  color: white;
  background-color: #C51111;
  border-radius: 3px;
  border: none;
  width: 200px;
  height: 50px;
  cursor: pointer;
  text-transform: uppercase;
  font-weight:bold;

}

.mario-luigi{
  height: 500px;
}

.caixa-mae{
  display: flex;
  align-items: center;
  justify-content:space-around ;
}


.caixa-principal{
  width: 40%;
}

.caixa-video{
  position:fixed;
  top: 0;
  z-index: -1;
}

video{
  width: 100vw;
  height: 100vw;
}